<h1>Login Page</h1>
<hr>
<form method="POST">
    {% csrf_token %}
    <table>
    <tr>
        <td>Username: </td>
        <td><input type="text" placeholder="Enter Username" name="Username" required></td>
    </tr>
    <tr>
        <td>Password: </td>
        <td><input type="password" placeholder="Enter Password" name="Password" required></td>
    </tr>
    <tr>
        <td></td>
        <td><button type="submit">Login</button></td>
    </tr>
</table>
{% if messages %}
{% for msg in messages %}
<h3>{{msg}}</h3>
{% endfor %}
{% endif %}
</form>